<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portal · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
<!--<%= render "app_nav.html", conn: @conn, student: @current_student %> -->
    <main role="main" class="jj">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <div class= "title-pane">
        <%= if @current_student do %>
        <div class= "header-text">Welcome back, <b><%=@current_student.name %></b></div>
        <% else %>
         <div class= "header-text">Hi There  <b></b></div>
        <% end %>
       </div>
           
   <div class="grid-container columns">
        <div class=" side-pane column">
        <div class="icon-container">
        <%= if @current_student do %>
         <button class="bt" id= "b3" onclick="location.href='/'"> My Profile</button>
            <button class="bt" id= "b1" style="background-color:#5755d9 ;color:white" onclick="location.href='/courses'">  Registration </button>
            <button class="bt" id= "b2" onclick="location.href='/papers'"> Submission</button>
           <% else %>
             <button class="bt" id= "b1" style="background-color:#5755d9 ;color:white" onclick="location.href='/login'">Login</button>
            <button class="bt" id= "b2" onclick="location.href='/signup'"> Sign Up </button>
            <% end %>


         </div>
      </div>
     
     
     <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    
		
  </body>
</html>
